@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
   
}

body{
  background-color: #000;
}

h1,h4,p,a{
  color:#fff;
  list-style: none;
  text-decoration : none;
  margin: 2rem 0;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248,217,15);
  color: #222;
  border : 1px solid #fff;
  font-weight:600;
  cursor: pointer;
  margin-right: 5px;
}

.btn-light{
  padding: 12px 32px;
  font-size: 1rem;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-weight:600;
  cursor: pointer;
  margin-left: 5px;
}

.btn:hover {
  background: rgba(255,255,255, 0.2);
  color: #fff;
  transition: 0.3s;
}
.btn-light:hover {
  background: #fff;
  color: #222;
  transition: 0.3s;
}